{% extends "base.html" %}
{% block title %}New Cases Map | SanFrancisCOVID{% endblock %}
{% block content %}
<div class="container-fluid align-items-center justify-content-center">
    <iframe style="width:100%; height:90vh" width="100%" height="100%" marginheight="0" frameborder="0" border="0" scrolling="auto" onload="autoResize(this);"src="https://sa-storyteller-cust-us-east-1-fedramp-prod.s3.amazonaws.com/documents/uploads/000/568/847/original/data?1592003669">your browser does not support iframes</iframe>
</div>
{% endblock %}