{% extends "base.html" %}
{% block title %}New Cases Map | SanFrancisCOVID{% endblock %}
{% block content %}
<div class="container-fluid align-items-center justify-content-center">
    <iframe src="https://sa-storyteller-cust-us-east-1-fedramp-prod.s3.amazonaws.com/documents/uploads/000/615/362/original/data?1601073556" frameborder="0" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation" data-document-id="615362" style="width:100%; height:800px"></iframe>
</div>
{% endblock %}